.git
.gitignore
.gitlab-ci.yml
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*.php
tests
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
.cursor
terminals
*.md
!README.md
docker-compose*.yml
Dockerfile*
